::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    display: block;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #E4E7ED !important;
}

.header-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f0f2f3;
    box-shadow: 0 2px 12px 0 #00000019 !important;
    z-index: 999;
    background-color: #fff;
}

.el-select .el-input {
    width: 200px;
}

.header-search .max-width-1000 {
    display: flex;
    flex: 1;
}

.header-search .max-width-1000 .el-input-group__prepend {
    background-color: #fff;
}

.max-width-1000 {
    max-width: 1000px;
}

.content-box {
    flex: 1;
    height: 100%;
    position: relative;
}

.content {
    position: absolute;
    top: 87px;
    width: 100%;
}

.el-card {
    border: unset !important;
    box-shadow: unset !important
}

.el-card__body,
.el-card__header {
    padding: 10px
}

.text-item {
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #dcdfe6;
}

.course-align {
    display: flex;
    align-items: center
}

.answer {
    color: red;
    margin-top: 2px !important;
}

.answer-option {
    padding-left: 35px;
    margin-bottom: 2px !important;
}